<div class="title">
  <h1>イベント一覧</h1>
  <div class="user-links">
    <%= link_to 'ユーザー情報', show_user_path, class: 'btn btn-secondary' %>
    <%= link_to 'メンバー一覧', users_path, class: 'btn btn-secondary' %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
  </div>
</div>

  <div class="event-container">
    <% @events.each do |event| %>
     <div class="event-card">
        <h2><%= link_to event.title, event %></h2>
        <p>日時: <%= event.date.strftime('%Y年%m月%d日 %H:%M') %></p>
        <p><%= event.details %></p>
        <div class="attendance-info">
          <p>出席人数: <%= event.attendances.where(status: '出席').count %>｜欠席人数: <%= event.attendances.where(status: '欠席').count %></p>
        </div>
      </div>
    <% end %>

    <% if current_user&.is_admin? %>
      <%= link_to '新しいイベントを作成', new_event_path, class: 'btn btn-primary event-btn' %>
    <% end %>
  </div>



